.about-page {
  background-color: $ashe-gray;
  padding-top: 2rem;
  padding-bottom: 10rem;

  &__text {
    font-size: 1rem;
    margin: 0 auto;
    max-width: 40rem;

    img {
      object-fit: cover;
      width: 100%;
    }
  }
}
