.support-page {
  background-color: $ashe-gray;
  color: $text-default;
  min-height: 50vh;
  padding-top: 2rem;
  padding-bottom: 5rem;

  h3 {
    font-size: 1.35rem;
  }

  div {
    .img {
      border: 4px solid;
      border-radius: 2px;
      object-fit: cover;
      margin-bottom: 2rem;
      width: 100%;
      max-width: 50vw;

      &__blue {
        border-color: $light-blue;
      }

      &__green {
        border-color: $alert-green;
      }

      &__yellow {
        border-color: $yellow;
      }
    }
  }

  &__image {
    margin: 0 auto;
    text-align: center;
    object-fit: cover;
    width: 100%;
  }
}
